@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,500;1,700&display=swap');
body, html {

  --white: #F6F7EB;
  --bright-yellow: #FFDA61;
  --dark-yellow: #FACB2E;
  --orange: #FC7753;
  --black: #393E41;

  margin: 0;
  padding: 0;

  background-color: var(--white);

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  overflow: hidden;

  font-family: 'Ubuntu', sans-serif;
}